/* Modal.css */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  width: 50vw;
  height: 40vh;
  background: white;
  padding: 20px;
  border-radius: 4px;
  position: relative;
  border-radius: 10px;
  button {
    width: 140px;
    height: 34px;
    margin-top: 20px;
    background: linear-gradient(90deg, #015fc7 0%, #002e61 100%);
    border-radius: 5px;

    font-family: 'FS Magistral';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;

    color: #ffffff;
    &:hover {
      opacity: 0.8;
    }
  }

  .body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .title {
      font-family: 'FS Magistral';
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 23px;
      margin-top: 40px;
    }
    .content {
      font-family: 'FS Magistral';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 14px;
      margin-top: 40px;
      color: #a0a0a0;
    }
    .btn {
      margin-top: 40px;
    }
  }
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}
