.verify-container {
  background-color: #001124;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #001124;
  .verify-content {
    width: 50vw;
    height: 60vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .title {
      margin-top: 20px;
      font-family: 'FS Magistral';
      font-style: normal;
      font-weight: 700;
      font-size: 35px;
      line-height: 55px;
    }

    .input-otp {
      margin-top: 20px;
    }
  }

  .digit-group {
    margin-top: 40px;
    input {
      width: 67px;
      height: 71px;
      background: #dcfcff;
      border-radius: 14px;

      border: none;
      line-height: 50px;
      text-align: center;
      font-size: 24px;
      font-family: 'Raleway', sans-serif;
      font-weight: 200;
      color: 001124;
      margin: 0 8px;
    }

    .splitter {
      padding: 0 5px;
      color: 001124;
      font-size: 24px;
    }
  }

  .prompt {
    margin-bottom: 20px;
    font-size: 20px;
    color: white;
  }

  button {
    width: 140px;
    height: 34px;
    margin-top: 20px;
    background: linear-gradient(90deg, #015fc7 0%, #002e61 100%);
    border-radius: 5px;

    font-family: 'FS Magistral';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;

    color: #ffffff;
    &:hover {
      opacity: 0.8;
    }
  }
}
